<ion-view view-title="Facts">
	<ion-content class="padding">
	    <div class="SR_container">
	    <div class="AlignCenter InfoBox">
	    	Your edits have not been saved
	    </div>
	    	<div class="SR_AnswerSection">
	    		<div class="SR_AnswerSectionTop row">
		    		<div class="SR_IconSection col col-25 Kom_Border">
		    			<div class="row">
			    			Title
		    			</div>
		    		</div>
		    		<div class="SR_QuestionSection col col-50 Kom_Border">
		    			<input value="Apple versus Questions" class="ES_QuestionHeader"></input>
		    		</div>
		    		<div class="row row-bottom">
		    				<button class="button button-large ion ion-edit"></button>
		    		</div>
	    		</div>
	    		<div class="SR_AnswerSectionBottom">
	    			<div class="row Kom_BorderBottom">
	    				<div class="col col-25">
	    				</div>
	    				<div class="col col-50">
	    					<div class="row">
		    					<h4 class="col">Apple</h4>
		    					<h4 class="col">Orange</h4>
	    					</div>
	    				</div>
	    				<div class="col col-25">
	    				</div>
	    			</div>
	    			<div class="row row-center Kom_BorderBottom">
	    				<div class="col col-25">Scientific</div>
	    				<div class="col col-50">
	    					<div class="row">
		    					<div class="col">This is some text about Apple</div>
		    					<div class="col">This is some text about Orange</div>
	    					</div>
	    				</div>
	    				<div class="col col-25">
	    					<button class="button button-large ion ion-close-round"></button>
	    				</div>
	    			</div>
	    			<div class="row row-center Kom_BorderBottom">
	    				<div class="col col-25">Nutrients</div>
	    				<div class="col col-50">
	    					<div class="row">
		    					<div class="col">
		    						<ul style="list-style-type:circle">
		    							<li>Aplha</li>
		    							<li>Beta</li>
		    							<li>Gamma</li>
		    						</ul>
		    					</div>
		    					<div class="col">
		    						<ul style="list-style-type:circle">
		    							<li>Delta</li>
		    							<li>Theta</li>
		    							<li>Omega</li>
		    						</ul>
		    					</div>
	    					</div>
	    				</div>
	    				<div class="col col-25">
	    					<button class="button button-large ion ion-edit"></button>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<a class="col button button-small ion ion-plus-circled" href="#tab/new"></a>
	    		</div>
	    		<div class="row">
	    			<button class="button button-small button-calm BoldItalic col">Update</button>
	    			<button class="button button-small button-assertive BoldItalic col"  ui-sref="kompair.compare">Cancel</button>
	    		</div>
	    	</div>
	    </div>
	</ion-content>
</ion-view>