<ion-view view-title="Edit">
    <ion-content class="padding">
        <div class="ES_container">
            <div class="AlignCenter InfoBox">
                Your edits have not been saved
            </div>
            <div class="SR_AnswerSection">
                <div class="SR_AnswerSectionTop row">
                    <div class="SR_IconSection col col-25 Kom_Border">
                        <div class="row">
                            Title
                        </div>
                    </div>
                    <div class="SR_QuestionSection col col-50 Kom_Border">
                        <input ng-model="ed.oCompair.title" class="ES_QuestionHeader"></input>
                    </div>
                    <div class="row row-bottom">
                        <!-- <button class="button button-large ion ion-edit"></button> -->
                    </div>
                </div>
                <div class="SR_AnswerSectionBottom">
                    <div class="row Kom_BorderBottom">
                        <div class="col col-25">
                        </div>
                        <div class="col col-50">
                            <div class="row">
                                <input class="col MarginRight5" ng-model="ed.oCompair.oCompairItem[0].item" class="ES_QuestionHeader"></input>
                                <input class="col MarginLeft5" ng-model="ed.oCompair.oCompairItem[1].item" class="ES_QuestionHeader"></input>
                            </div>
                        </div>
                        <div class="col col-25">
                        </div>
                    </div>
                    <div class="row row-center Kom_BorderBottom" ng-repeat="oComp in ed.oCompair.oCamparables">
                        <ng-switch on="oComp.catType" class="row">
                            <div class="col col-25">
                                <input class="row" ng-model="oComp.catName"></input>
                            </div>
                            <div class="col col-50 PaddingZero">
                                <div class="row PaddingZero" ng-switch-when="Text">
                                    <div class="col">
                                        <input class="row" ng-model="oComp.catValues[0]">
                                        </input>
                                    </div>
                                    <div class="col">
                                        <input class="row" ng-model="oComp.catValues[1]"></input>
                                    </div>
                                </div>
                                <div class="row" ng-switch-when="OrderedList">
                                    <div class="col-50 PaddingRight5">
                                        <input class="row" ng-model="oVal" ng-repeat="oVal in oComp.catValues[0]"></input>
                                    </div>
                                    <div class="col-50 PaddingLeft5">
                                        <input class="row" ng-model="oVal" ng-repeat="oVal in oComp.catValues[1]"></input>
                                    </div>
                                </div>
                                <div class="row" ng-switch-when="UnOrderedList">
                                    <div class="col-50 PaddingRight5">
                                        <input class="row" ng-model="oVal" ng-repeat="oVal in oComp.catValues[0]"></input>
                                    </div>
                                    <div class="col-50 PaddingLeft5">
                                        <input class="row" ng-model="oVal" ng-repeat="oVal in oComp.catValues[1]"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-25">
                                <button class="button button-large ion ion-close-round"></button>
                            </div>
                        </ng-switch>
                    </div>
                </div>
                <div class="row">
                    <a class="col button button-small ion ion-plus-circled" href="#tab/new"></a>
                </div>
                <div class="row">
                    <button class="button button-small button-calm BoldItalic col" ng-click="ed.Helper.BackToCompare('update')">Update</button>
                    <button class="button button-small button-assertive BoldItalic col" ng-click="ed.Helper.BackToCompare('cancel')">Cancel</button>
                    <!-- <button class="button button-small button-calm BoldItalic col" ui-sref="kompair.compare">Update</button>
                    <button class="button button-small button-assertive BoldItalic col" ui-sref="kompair.compare">Cancel</button> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
