<ion-view view-title="SignUp">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="su.user.email" placeholder="someone@something.com">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="su.user.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-model="su.user.passwordConfirm" ng-blur="checkPassword = true">
            </label>
            <h3 ng-if="checkPassword && su.user.password != su.user.passwordConfirm" class="text-center balanced">Passwords do not match</h3>
            <div align="center"class="padding">
                <button class="button button-energized" ng-click="su.SignUp()">Submit</button>
            </div>
        </div>
    </ion-content>
</ion-view>