<ion-view view-title="Home">
    <ion-content class="padding">
        <div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="vm.oShared.oSearch.sSearchTerms" placeholder="Search">
            </label>
            <p align="center" class="padding">
                <a class="button button-energized" href="#/results">Submit</a>
            </p>
            <div ng-show="vm.oShared.bSingedIn">
                <button class="button button-block button-energized">Your Question</button>
                <a class="button button-block button-energized" ui-sref="kompair.editaccount">Account</a>
                <p align="center" class="padding">
                    <a class="button button-energized" ng-click="vm.LogOut()">Logout</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
