/* Ionic override */
button.ion-plus-circled {
    /* max-height: 20px !important; */
    margin-top: 12px;
    padding: 0px !important;
    font-size: 20px;
    min-height: 20px !important;
}

button.ion-plus-circled::before {
    height: 10px;
}

/* End */

div {
    /*border: 1px solid rgba(0,0,0,0.1);*/
    box-sizing: border-box;
}


/* Common */

ol {
    list-style: decimal;
}

.PaddingZero {
    padding: 0;
}

.PaddingLeft5 {
    padding-left: 5px;
}

.PaddingRight5 {
    padding-right: 5px;
}

.MarginLeft5 {
    margin-left: 5px;
}

.MarginRight5 {
    margin-right: 5px;
}

.button-icon .icon:before,
.button-icon.icon:before {
    font-size: 22px;
}

.AlignCenter {
    text-align: center;
}

.BoldItalic {
    font-weight: bold;
    font-style: italic;
}

.Kom_Border {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.Kom_BorderBottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.InfoBox {
    border: 1px dashed black;
    color: red;
}

.Kom_LoggedUserName {
    margin-top: 8px;
}


/*  Search Result */

.SR_QuestionHeader {
    padding: 3px;
    font-size: 20px;
    overflow: hidden;
}

.SR_AnswerSectionBottom {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Compare section */

.SR_UserMarked {
    color: red;
}


/* Edit Section */

.ES_QuestionHeader {
    padding: 3px;
    font-size: 14px;
}

.ES_container input {
    background-color: rgba(20, 20, 20, 0.1);
    padding: 0;
}

.ES_SelectCatType {
    width: 300px;
    height: 45px;
    margin: 0 auto;
    font-size: 20px;
}
